@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.nav-container {
  height: 3em;
  box-shadow: 0 1px 4px 0 rgb(122, 122, 122);
}

.nav-list {
  height: 100%;
  list-style: none;
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav__link-container {
  height: fit-content;
  &.link_flex-end {
    position: absolute;
    right: 1em;
  }
}

.nav__link {
  font-family: "Markazi Text", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  height: fit-content;
}

.link__icon {
  width: 48px;
  height: 48px;
}
